body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menuHeader
{
    display: none;
}

header
{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    font-size: 20px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

#header h1 {
    margin: 0;
    float: left;
}

.agendeMini
{
    color: #a9d39e;

}

.bar1, .bar2, .bar3
{
    border: 1px solid black;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.6s;
}

nav ul
{
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #a9d39e;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li a:hover::before {
    transform: scaleX(1);
}


.inicio, .massagem, .contato
{

    transition: color 0.3s ease;
}

.agende
{
    text-align: center;
}

img
{
    width: 100%;
    height: 800px;
    
}

.logo
{
    width: 150px; 
    height: 150px;
    border-radius: 100px;
    padding-bottom: 10px;
    justify-content: space-between;
    
}



.massagem:hover
{
    color: #a9d39e;
}

.contato:hover
{
    color: #a9d39e;
}

.inicio
{
    color: #a9d39e;
}

.agende
{
    background-color: #a9d39e;
    color: white;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.4s ease;
}

.agende:hover
{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.banner
{
    background-image: url(massoterapia2.png);
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.bannerInformacaos
{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    color: #fff;
    font-size: 40px;
    
}

.saiba
{
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 15px;
    font-size: 25px;
    width: 170px;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.saiba:hover
{
    background-color: #a9d39e;
}


.textsobre
{
    margin: auto;
    display: flex;
    justify-content: right;
    margin-left: auto;

}

.conteudo
{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 1rem;

}

.conteudoTexto
{
    width: 600px;
    padding: 3rem;
    text-align: justify;
}

.sobre
{
    color: #a9d39e;
    font-size: 40px;
    text-align: left;
}

.sobreNois
{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    max-width: 100%;

}


.massagem2
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.massagem2 span
{
    padding-bottom: 5px;
    padding-left: 10px;
}

footer
{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    max-width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    
}

.logoFooter
{
    width: 250px;
    height: 250px;
    border-radius: 100px;
}


.tituloAtendimento
{
    color: #a9d39e;
}

.inicioFooter, .MassagensFooter, .ContatoFooter
{
    text-decoration: none;
    color: #fff;
    transition: color 0.7s ease;
    cursor: pointer;
}

.inicioFooter:hover, .MassagensFooter:hover, .ContatoFooter:hover,

.Institucional
{
   color: #a9d39e; 
}

.FaleConosco
{
    color: #a9d39e;
    
}

.sao
{
    color: #fff;
}

.fa {
   
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    transition: color 0.7s ease;
    cursor: pointer;
    
   
  }
  
  .fa:hover {
     color: #a9d39e;
  }

.fa-instagram {
    color: white;
    display: flex;
  }

.fa {
   
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    transition: color 0.7s ease;
    cursor: pointer;
   
  }
  
  .fa:hover {
     color: #a9d39e;
  }

.fa-whatsapp {
    color: white;
    display: flex;
  }

.desenvolvido
{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    align-items: center;
}

.desenvolvidoPor
{
    text-decoration: none;
    color: #fff;
   
}

 @media (max-width: 768px) {
    .menuHeader
    {
        display: flex;
    }

    .HeaderNormal
    {
        display: none;
    }
    .menu-icon {
        display: flex;
    }

    nav {
        display: none;
        width: 100%;
        text-align: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav li {
        margin: 5px 0;
    }

    nav.active {
        display: flex;
        flex-direction: column!important;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
