body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


article
{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
}

.Loc
{
    text-align: center;
    color: #a9d39e;
    padding: 15px;
}
.ficloc
{
    display: flex;
    padding: 10px;
    
}
.endereco
{
    flex-direction: column;
}
    
.Bordao
{
    color: #a9d39e;
    flex-direction: column;
}

.mass
{
    text-align: center;
    color: #a9d39e
}

.card:hover, .card2:hover, .card3:hover
{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}


.textocard1, .textocard2, .textocard3
{
    
    text-align: center;
}

.cards
{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
   
}

.saibamais
{
   text-align: center;
   border: auto;
   padding: 5px;
}

.pag
{
    text-align: center;
    color: #a9d39e
}
.pagamentos
{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.pag1:hover, .pag2:hover, .pag3:hover, .pag4:hover
{
    border-radius: 20px;
    border: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
